
$distance: 8px;

/** Color **/
$white: #fff;
$black: #000;
$blue: #293165;
$violet: #848ecf;
$error: #f00;
$colorGrey: #333;
$colorLightGrey: #999;
$colorLighterGrey: #f5f5f5;
$colorCopyText: #0c0;
$colorStatus: #f90;
$bodyBackgroundColor: #f8f9fd;
$sidebarWidth: 240px;
$sidebarWidthSmall: 60px;
$currentUserBg: #eaeff0;
$footerBorderColor: $currentUserBg;
$footerColor: #777986;
$blueBackground: #dce0f8;
$disabledBg: #e4e4e4;
$disabledColor: $disabledBg;
$green-placeholder: #008061;
$grey-placeholder: #d8d8d8;
$blue-preview-title: $blue;
$black-preview-title: #231f20;
$border-logo: $currentUserBg;
$grey: #ccc;
$grey-1: #f2f2f2;
$grey-border: #d1d2db;
$grey-thead: #e9ecef;
$border-filter: rgb(204, 204, 204);
$border-input: #dee2e6;
$secondary-color: #868e96;
$drop-down-grey-color: $secondary-color;
$drop-down-grey-border-color: $border-input;
$date-picker-selected-color: #1eb7ff;
$button-hover: #0c9;
$info-color: #33ae9a;
$color-line: rgb(213, 216, 222);
$color-blue-sign: #09f;
$shadow-01: rgba(0, 0, 0, 0.1);
$shadow-02: rgba(0, 0, 0, 0.2);
$shadow-13: rgba(9, 30, 66, 0.13);
$shadow-14: rgba(0, 0, 0, 0.14);
$shadow-25: rgba(9, 30, 66, 0.25);
$shadow-005: rgba(0, 0, 0, 0.05);
$shadow-31: rgba(9, 30, 66, 0.31);
$gradient-02: rgba(53, 202, 151, 0.2);
$yourWork-violet-01: rgb(82, 67, 170);
$yourWork-violet-02: rgb(234, 230, 255);
$yourWork-blue-01: rgb(179, 212, 255);
$yourWork-grey-01: rgb(223, 225, 230);
$yourWork-grey-02: #ececec;
$yourWork-grey-03: #dadada;
$yourWork-grey-04: rgb(250, 251, 252);
$task-blue-02: rgb(223, 235, 255);

$status-bg-active: #dafaed;
$status-bg-inactive: $currentUserBg;
$status-bg-expired: rgba($status-bg-inactive, 0.5);
$status-color-active: #0db669;
$status-color-inactive: $black-preview-title;
$status-color-expired: rgba($status-color-inactive, 0.5);

//primary color project
$primary-color-project: #097df0;
$primary-active-color: #0660ce;
